@charset "utf-8";

/*
全体 ヘッダー、メインの2つで構成
*/
body {
  font-family: 'Pixelify Sans', "cursive", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  background-color: #333;
  color: #333;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template:
    "head" 190px
    "main" 1fr;
}
header {
  grid-area: head;
}
main {
  grid-area: main;
}
/* ナビゲーションとメニューボタンはスマホ用なので隠す */
nav, .open {
  display: none;
}
.check {
  position: absolute;
  left: -50vw;
}

/*
ヘッダー ヘッダーロゴとボタン3つで構成
*/
header {
  background-color: #454545;
  display: grid;
  grid-template-columns: 190px 1fr;
}
.header-button-area {
  padding: 20px;
  display: grid;
  grid-template-columns: 180px 180px 180px;
  justify-content: end;
  align-items: center;
  column-gap: 30px;
}
.header-icon {
  display: block;
  padding: 40px;
}

/*
ボタン
*/
.button {
  display: inline-block;
  width: 180px;
  height: 150px;
  padding: 30% 0;
  color: #333;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 3px 3px 0 #bbb;
  transition: box-shadow 0.25s;
}
.button:hover {
  box-shadow: 0 0 0 #bbb;
}
.button.button-g {
  background-color: #d98900;
}
.button.button-y {
  background-color: #ce0000;
}
.button.button-t {
  background-color: #00e1ff;
}

/*
メイン
*/
main {
  align-self: center;
  padding: 0 10%;
}
.gsc-search-button:hover {
  cursor: pointer;
}

/*
スマホ用のレスポンス対応
*/
@media screen and (max-width: 900px) {
  body {
    display: block;
    width: 100%;
  }
  header {
    display: none;
  }
  main {
    height: 100vh;
    display: grid;
    align-items: center;
  }
  .open {
    display: block;
  }
  .open {
    position: absolute;
    color: #fff;
    right: 8%;
    top: 3%;
    transform: scale(2);
  }

  nav {
    display: block;
    position: absolute;
    z-index: 500000;
    right: -50%;
    width: 50%;
    height: 100%;
    background-color: #454545;
    text-align: center;
    transition: all 0.2s;
  }
  .check:checked ~ nav {
    right: 0;
  }
  .nav-list {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .nav-item {
    text-decoration: none;
    font-size: 2rem;
    font-family: fantasy;
  }
  .nav-i1 {
    color: #0f0;
  }
  .nav-i2 {
    color: #d98900;
  }
  .nav-i3 {
    color: #ce0000;
  }
  .nav-i4 {
    color: #00e1ff;
  }
  .check:checked ~ .close {
    position: absolute;
    z-index: 400000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}